<%- include('partials/header') %>

    <section>
        <div>
            <h2>Matseðill FB</h2>
        </div>
        <div id="matsedill">
            <% days.forEach(day=> { %>
                <div class="matur-card">
                    <h3>
                        <%= day.dagur %>
                    </h3>
                    <% if (day.image) { %>
                        <img src="<%= day.image %>" alt="<%= day.dagur %>">
                        <% } %>
                            <p>
                                <%= day.matur %>
                            </p>
                </div>
                <% }); %>
        </div>
    </section>
    <div id="buttons">
        <a href="/gullfoss"><button>Upplýsingar um Gullfoss</button></a>
    </div>

    <%- include('partials/footer') %>